<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rwardrup.sheiko"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk android:minSdkVersion="23"
        tools:overrideLibrary="com.shawnlin.numberpicker"/>

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".CalligraphySettings"
        android:allowBackup="true"
        android:icon="@drawable/cool_bench_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name='android.intent.category.LAUNCHER' />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".selectProgramActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrainActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".BreakTimer"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".CalendarSelectActivity"></activity>
    </application>

</manifest>